
p {
	font-family: arial;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}

.a1 {
  border: 1px solid black;	
  float: left;
  width: 30%;
  height: 475px; 
  background: #eee;
  padding: 20px;
	}

.a2 {
  border: 1px solid black;	
  float: left;
  width: 30%;
  height: 475px;
  background: #eee;
  padding: 20px;

	}
	
.a3 {
  border: 1px solid black;	
  float: left;
  width: 30%;
  height: 475px;
  background: #eee;
  padding: 20px;
	}

section:after {
  content: "";
  display: table;
  clear: both;
}

.container2 {
  
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  margin: 25px 0;
  max-width: 50%;
}

.container2::after {
  content: "";
  clear: both;
  display: table;
}


.container2 img {
  float: right;
  margin-right: 250px;
}

.container2 span {
  font-size: 20px;
  margin-right: 16px;
}

@media (max-width: 500px) {
  .container2 {
    text-align: center;
  }

  .container2 img {
    margin: auto;
    float: none;
    display: block;
  }
}